
// Git
// -------------------

.status          { color: @text-color; }
.status-added    { color: @text-color; }
.status-ignored  { color: @text-color; }
.status-modified { color: @text-color; }
.status-removed  { color: @text-color; }
.status-renamed  { color: @text-color; }

.status > .header, .file.status                   { color: @text-color; }
.status-added > .header, .file.status-added       { color: fade(@text-color-success, 70%); }
.status-ignored > .header, .file.status-ignored   { color: @text-color-subtle; }
.status-modified > .header, .file.status-modified { color: fade(@text-color-warning, 70%); }
.status-removed > .header, .file.status-removed   { color: fade(@text-color-error, 70%); }
.status-renamed > .header, .file.status-renamed   { color: fade(@text-color-info, 70%); }
